
</br>
<div><h3>Livestreaming aktiviert!</h3></div>

<div>SRT Connection Url</div>
<div><input size="50" type="password" value="{{ srt_url }}" id="OvenMediaSRTUrl"> <a id="ovenmedia_copy_srt" href="javascript:void(0)" onclick=OvenmediaCopySRTUrl()>kopieren</a></div>
<div>RTMP Connection URL</div>
<div><input size="50" type="password" value="{{ rtmp_url }}" id="OvenMediaRTMPUrl"> <a id="ovenmedia_copy_srt" href="javascript:void(0)" onclick=OvenmediaCopyRTMPUrl()>kopieren</a></div>

<a id="ovenmedia_toggle" href="javascript:void(0)" onclick=OvenmediaShowServerUrls()>show</a>