
<style>

#wrapper1 {
        width: 640px;
        height: 360px;
        visibility: none;
        border: 1px solid black;
        }
</style>

<div id="wrapper1">

<div id="ovenmedia-player"></div>

</div>


<script>

const player = OvenPlayer.create("ovenmedia-player", {
    "autoStart": true,
    "autoFallback": true,
    "mute": false,
    "sources": [
         {
        "type": "webrtc",
        "file": "{{ wss_url }}"
    },{
        "type": "ll-hls",
        "file": "{{ llhls_url }}"
    },],

});

</script>